.favorite-template {
    margin: 20px 125px 20px 125px;
}

.no-favorites {
    margin: 200px 125px 20px 125px;
}

.movie-rating {
    color: white;
    border-radius: 10px;
    background-color: #0E6EFD;
    justify-content: center;
}

.remove-from-favorites {
    color: white;

    padding: 20px 30px 20px 30px;

    background-color: #DC3545;

    border-radius: 10px;
    text-align: center;

    cursor: pointer;
}

.no-favorites h1 {
    text-align: center;
}