.form-group {
    margin-bottom: 20px;
}

label {
    margin-bottom: 7px;
}

#profile {
    margin-top: 20px;
}

button {
    margin-bottom: 20px;
}

.col{
    margin-top: 15px;
    border-width: 2px;
}

#avatar-image {
    width: 400px;
    height: 400px;
    margin-top: 20px;
}

#avatar-container {
    position: relative;
}

#img-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
}

#pfp {
    transition: .2s ease;
}

#avatar-container:hover #img-overlay {
    opacity: 1;
}

#avatar-container:hover #pfp {
    opacity: 0.33;
}

h1 {
    margin-bottom: 20px;
}

.readonly #save, .editable #edit{
    display: none;
}


.editable #save, .readonly #edit{
    display: inline;
}

.valid small {
    display: none;
}

.valid input {
    border-color: #CED4DA;
}

.invalid small {
    display: inline;
}

.invalid input {
    border-color: #DF4759;
}