.form-group {
    margin-bottom: 20px;
}

label {
    margin-bottom: 7px;
}

#profile {
    margin-top: 20px;
}

#edit {
    margin-bottom: 20px;
}

.col{
    margin-top: 15px;
    border-width: 2px;
}

#avatar-image {
    margin-top: 15px;
}

h1 {
    margin-bottom: 20px;
}